<p>{{wineForm.value | json}}</p>
<p>{{wineForm.status}}</p>

<form [formGroup]="wineForm" (ngSubmit)="onSubmit()">
	<div class="form-group row">
		<label for="name" class="col-2 col-form-label">Name</label>
		<div class="col-10">
			<input class="form-control" type="text" id="name" placeholder="Name"
				formControlName="name">
			<small *ngIf="wineForm.controls['name'].touched && wineForm.controls['name'].errors?.['required']" class="text-danger">Name is required!</small>
			<small *ngIf="wineForm.controls['name'].touched && wineForm.controls['name'].errors?.['minlength']" class="text-danger">Name must be at least 2 characters long!</small>
		</div>
	</div>

	<div class="form-group row">
		<label for="year" class="col-2 col-form-label">Year</label>
		<div class="col-10">
			<input class="form-control" type="number" id="year" placeholder="Year"
				formControlName="year">
			<small *ngIf="wineForm.controls['year'].touched && wineForm.controls['year'].errors" class="text-danger">Year is required!</small>
		</div>
	</div>

	<div class="form-group row">
		<label for="year" class="col-2 col-form-label">Grapes</label>
		<div class="col-10">
			<input class="form-control" type="text" id="grapes" placeholder="Grapes"
				formControlName="grapes">
			<small *ngIf="wineForm.controls['grapes'].touched && wineForm.controls['grapes'].errors" class="text-danger">Grapes is required!</small>
		</div>
	</div>

	<div class="form-group row">
		<label for="country" class="col-2 col-form-label">Country</label>
		<div class="col-10">
			<input class="form-control" type="text" id="country" placeholder="Country"
				formControlName="country">
			<small *ngIf="wineForm.controls['country'].touched && wineForm.controls['country'].errors" class="text-danger">Country is required!</small>
		</div>
	</div>

	<div class="form-group row">
		<label for="region" class="col-2 col-form-label">Region</label>
		<div class="col-10">
			<input class="form-control" type="text" id="region" placeholder="Region"
				formControlName="region">
			<small *ngIf="wineForm.controls['region'].touched && wineForm.controls['region'].errors" class="text-danger">Region is required!</small>
		</div>
	</div>

	<div class="form-group row">
		<label for="description" class="col-2 col-form-label">Description</label>
		<div class="col-10">
			<textarea class="form-control" rows="3" id="description" placeholder="Description"
				formControlName="description"></textarea>
			<small *ngIf="wineForm.controls['description'].touched && wineForm.controls['description'].errors" class="text-danger">Description is required!</small>
		</div>
	</div>

	<div class="form-group row float-right">
		<div class="col-12">
			<button class="btn btn-primary " type="submit"
				[disabled]="wineForm.invalid">Submit</button>
		</div>
	</div>
</form>
